<template>
  <div>
    
    <input type="text" class="todo-input" placeholder="Just do it!" v-model="newTodo" @keyup.enter="addTodo">
    
    <div v-for="todo in todos" :key="todo.id" class="todo-item">
      <div class="todo-item-left"> 
          <input type="checkbox" v-model="todo.completed">
          <div v-if="!todo.editing" 
          @dblclick="editTodo(todo)" 
          @blur="doneEdit(todo)" 
          @keyup.enter="doneEdit(todo)" 
          @keyup.esc="cancelEdit(todo)" 
          class="todo-item-label" :class="{ completed : todo.completed }">{{todo.title}}</div>
        <input v-else type="text" class="todo-item-edit" @blur="doneEdit(todo)" v-model="todo.title">
      </div>
    <div class="remove-item">&times;</div>

    </div>

  </div>
</template>


<script>
export default {
  name: 'TodoList',
  data () {
    return {
      newTodo: '',
      beforeEditCache: '',
      todos: [
        {
          'id': 1,
          'title': 'Get started with vue',
          'completed': false,
          'editing': false,
        },
        {
          'id': 2,
          'title': 'Connect laravel',
          'completed': false,
          'editing': false,
        }
      ]
    }
  },
  methods: {
       addTodo() {
        if (this.newTodo.trim().length == 0) {
          return
        }
        this.todos.push({
              id: this.idForTodo,
              title: this.newTodo,
              completed: false
        });
        this.newTodo = '';
        this.idForTodo++;
      },
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: heavy;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
