<template>
    <div>
        <ul id="userlist">
            <li v-for="user in users">
                <img src="{{ user.image }}" />  <a href="{{ user.profile_url }}">@{{
        user.username }}</a>
          </li>
    </ul>
    </div>
</template>


<script>
export default {
  name: 'UserList',
  data () {
    return {
      users: []
    }
  },
  methods: {
       getUsers() {
         const apiUrl = process.env.API_URL;
         this.$http.get(apiUrl + '/api/users/list').then(response => {
            // get body data
            this.users = response.json()
          }, response => {
            // error callback
          });  
      },
  }
  mounted: function () {
     this.getUsers()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: heavy;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
